html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

.flash {
  margin: 1em 0;
  padding: 1em;
}

.flash.success {
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.flash.error {
    background: #ff9c9c;
    border: 1px solid #ff4343;
}